*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

body {

    font-family: 'Open Sans', sans-serif;
}

.max-w{
    width: 100%;
}

.w-60{
    width: 60%;
}

.sinistra{
    float: left;
}

.destra{
    float: right;
}

.centro{
    float: middle;
}

.colonna{
    position: relative;

}

.line{
    line-height: 50px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/* /common */


/* header */

.btn{
    display: inline-block;
    background-color: blue;
    color: white;
    padding: 5px;
}

header{
    position: fixed;
    height: 80px;
    width: 100vw;
    background-color: white;

}

.container {
    position: absolute;
    min-width: 100%;
    line-height: 50px;
}

.lista {
    
    list-style: none;
    text-decoration: none;


}

.inline>li,
.inline>li>.btn{

    display: inline;
    
}

li>a{
    text-decoration: none;
    color: black;
    font-weight: 600;


}



.spacing{
    padding: 8px 20px;
}

.appoggia{

        right: 0;
}

.center{

    text-align: center;
    vertical-align: middle;

}
/* /header */


/* main */

.jumbo{
    background-image: url("../img/jumbo.png");
    background-size: 50%;
    background-repeat: no-repeat;
    object-fit: scale-down;
    width: 100%;
    height:100%;
    
    
}

.background{
    background-color: #b4d0e7;
    min-height: 500px;
    
}

.background>h1 {
    font-size: 400%;
    font-weight: bolder;
    padding: 150px 300px 20px 300px;
}

.container-2{
    position: absolute;
    width: 100%;
    height: 100%;
}

.clear{
    clear: left;
}

/* /main */



/* debug */
/* 
.debug{
    background-color: red;
} */

/* /debug */